.my-thumbnails{
    height: 20%;
    opacity: 70%;
}

.clicked{
    opacity: 100%;
}

.anclicked{
    opacity: 70%;

}

.main-img-wrapper{
    width: 100%;
    height: 100%;
}

.main-img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.active{
    display: inline-block;
}

#thumbnails-img-element{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#carousel-container{
    width: 80%;
    height: 500px;
    margin-top: 100px
}

div#main-img,
div#thumbnails-img{
    height: 100%;
}

